.login-form {
    display: flex;
    flex-direction: column;
    max-width: 100vw;  
}

.login-form__container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 884px);
    margin-left: auto;
    margin-right: auto;   
}

.login-form__logo {
    width: 38px;
    height: 38px;
}

.login-form__title {
    margin: 0;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.login-form__element {
    display: flex;
    flex-direction: column;
}

.login-form__element-email {
    margin-top: 40px;
    color: rgb(139, 139, 139);
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
}

.login-form__element-email-input {
    margin: 0;
    margin-top: 5px;
    background: initial; 
    border: initial;
    box-shadow: initial; 
    padding: initial; 
    padding-bottom: 10px;
    cursor: initial; 
    outline: initial;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    border-bottom: 1px solid rgb(66, 66, 66);
}

.login-form__element-email-input:focus {
    border-bottom: 1px solid rgb(66, 133, 244);
}

.login-form__element-pass {
    margin-top: 24px;
    color: rgb(139, 139, 139);
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
}

.login-form__element-pass-input {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 83px;
    background: initial; 
    border: initial;
    box-shadow: initial; 
    padding: initial; 
    padding-bottom: 10px;
    cursor: initial; 
    outline: initial;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    border-bottom: 1px solid rgb(66, 66, 66);
}

.login-form__element-pass-input:focus {
    border-bottom: 1px solid rgb(66, 133, 244);
}

.login-form__element-submit {
    margin: 0;
    padding: 0;
    margin-top: 69px;
    border: none; 
    box-shadow: none; 
    outline: none;
    cursor: pointer;   
    border-radius: 3px;
    background: rgb(66, 133, 244);
    width: 396px;
    height: 45px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    align-self: center;
}

.login-form__element-submit:hover {
    opacity: 0.7;
}

.login-form__nav {
    align-self: center;
    margin-top: 16px;
}

.login-form__nav-title {
    color: rgb(139, 139, 139);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
}

.login-form__nav-link {
    margin-left: 6px;
    text-decoration: none;
    color: rgb(66, 133, 244);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
}

.login-form__nav-link:hover {
    opacity: 0.7;
}

@media screen and (min-width: 1281px) {
    .login-form__container {
      max-width: 396px;
    }
}

@media screen and (max-width: 1279px) {
    .login-form__container {
        width: calc(100vw - 372px);
        margin-top: 232px;
    }
}

@media screen and (max-width: 767px) {
    .login-form__container {
        width: calc(100vw - 60px);
        margin-top: 56px;
    }
    .login-form__element-submit {
        width: 260px;
        height: 45px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
    }
    .login-form__logo {
        align-self: center;
    }

    .login-form__title {
        margin-top: 50px;
    }

    .login-form__element-name {
        margin-top: 80px;
    }

    .login-form__nav {
        margin-top: 13px;
    }

    .login-form__nav-title {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }
    .login-form__nav-link {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }
}